#a1{
    color: #000000;
}


tr{
    color: #000000;
    background-color: #fbfbfb;
}

td{
    color: #000000;
    padding: 8pxs;
    text-align: center;
    border: 1.5px solid #000000;
}


